### API

- Application programmering interface

In [4]:
from dotenv import load_dotenv
import os, requests
import pandas as pd

load_dotenv()
api_key = os.getenv("ALPHA_API_KEY")
symbols = ["AAPL", "NVDA", "TSLA", "IBM"]
stock_list = []

for symbol in symbols:
    function = "TIME_SERIES_INTRADAY"
    url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&interval=5min&apikey={api_key}"
    data = requests.get(url).json()
    stock_list.append(data)

In [5]:
len(stock_list)

4

In [6]:
stock_list[0].keys()

dict_keys(['Meta Data', 'Time Series (5min)'])

In [7]:
# datetime1: dict
# datetime2: dict
pd.DataFrame(stock_list[0]["Time Series (5min)"]).T.head()

                      1. open   2. high    3. low  4. close 5. volume
2022-11-07 20:00:00  139.5000  139.5600  139.4700  139.5400     13912
2022-11-07 19:55:00  139.4500  139.5300  139.4201  139.5300      2975
2022-11-07 19:50:00  139.4500  139.5000  139.4500  139.5000      7016
2022-11-07 19:45:00  139.3300  139.4900  139.3100  139.4300      6821
2022-11-07 19:40:00  139.3900  139.3900  139.3000  139.3300      5415

In [ ]:
load_dotenv()
api_key = os.getenv("ALPHA_API_KEY")
symbols = ["AAPL", "NVDA", "TSLA", "IBM"]
stock_list = []

for symbol in symbols:
    function = "TIME_SERIES_INTRADAY"
    url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&interval=60min&apikey={api_key}"
    data = requests.get(url).json()
    df = pd.DataFrame(data["Time Series (60min)"]).T
    stock_list.append(df)

In [8]:
df.info()

NameError: name 'df' is not defined